/target
/.cargo/
*.exe
*.qora-tts
*.wav
!model/1.7B/voices/*.wav
*.py
*.o
*.pdb
convert_model.rs
*.bat
*.rs.txt
test_q4_load.*
model/0.6B/model.qora-tts
model/1.7B/model.qora-tts
model/speech_tokenizer-model.safetensors
COMPRESSION_GUIDE.md
IMPLEMENTATION_COMPLETE.md
README_VOICE_CLONING.md
SPEAKER_ENCODER_IMPLEMENTATION.md
TTS_ANALYSIS.md
VOICE_CLONING_WORKING.md
VOICE-CLONING-README.md
